html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  margin: 10px;
}

main {
  width: 300px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}

#status {
  text-align: right;
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
  margin: 10px;

}

img {
  border-radius: 50%;
  border: .5rem solid #72dd8b;
}

#name {
  display: grid;
  margin: 10px 0 20px 0;
  font-size: 3rem;
}

#occupation {
  background-color: lightgray;
  display: grid;
  grid-template-rows: 3.5rem;
}

#offer {
  display: grid;
  font-size: 2.5rem;
  margin: 5px 0 20px 0;
  grid-template-rows: 3.5rem;
}

#price {
  color: rgb(80, 80, 80);
}

#brand {
  height: 0px;
  color: white;
}


#occupation > p {
  background-color: lightgray;
}


.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60px;
}


#phone {
  background-color: #72dd8b;
  margin: 0;
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bubble {
  background-color: #5cb471;
  margin: 0;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
main {
  display: grid;
  text-align: left;
  width: 600px;
  grid-template-columns: 40% 60%; 
  grid-template-rows: auto .75fr .75fr .1fr;
  grid-template-areas: 
  "status name"
  "img occupation"
  "img brand"
  "contact offer";
}

#name {
  height: 50px;
  margin: 0;
  padding-top: 15px;
}

#status {
  text-align: left;
  padding: 5px 0 0 5px;
}

#occupation > p {
  margin: 10px 0 0 0;
}

img {
  grid-area: img;
  margin: 0 auto;
}

#brand {
  display: inline;
  background-color: lightgray;
  height: 75px;
  margin: 0;
}

.contact {
  grid-area: contact;
  height: 9.25vh;
}

#phone {
  font-size: 200%;
}

#bubble {
  font-size: 200%;
}

#brand > p {
  border-left: #5cb471 4px solid;
  padding: 0 20px 0 8px;
  font-size: 1.6rem;
  color: black;
  margin: 0;
  margin-top: 10px;
}

#offer {
  grid-area: offer;
  font-size: 1.8rem;
  padding: 10px;
  margin: 0;
}

#offer > p {
  margin: 0;
}

#name, #occupation, #brand, #offer {
  background-color: lightgray;
  padding-left: 20px;
}
}